/* https://redditinc.com/ */

* {
    margin: 0%;
    font-size: 30px;
    font-weight: bold;
}

.body {
    background-color: #fff;
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.header_header {
    height: 75px;
    text-align: center;
    background-color: cornflowerblue;
    padding-top: 2%;
    margin: 10px;
    border-radius: 10px; 
    border: 2px solid black;
}

.headert:hover h1 {
    color: orange;
    cursor: pointer;
}

.nav_nav {
    height: 75px;
    display: grid;
    place-items: center;
    background-color: magenta;
    margin: 10px;
    border-radius: 10px; 
    border: 2px solid black;

}

.navt:hover h1 {
    color: orange;
    cursor: pointer; 
}

.container1 {
    display: flex;
    grid: auto / auto auto 
}

.aside_aside {
    border: 2px solid black;
    margin: 10px;
    background-color: #fdfd96;
    display: grid;
    place-items: center;
    padding: 20px;
    width: 40%;
    border-radius: 15px;
}
.asidet:hover h1 {
    color: orange;
    cursor: pointer;
}


.main_main {
    border: 2px solid black;
    margin: 10px;
    display: grid;
    text-align: center;
    padding: 20px;
    background-color: #ffbb8d;
    padding-bottom: 100px;
    width: 60%;
    border-radius: 15px;
}

.maint:hover h1 {
    color: orange;
    cursor: pointer;

}

.article_article {
    border: 2px solid black;
    margin: 10px;
    display: grid;
    place-items: center;
    text-align: center;
    padding: 20px;
    padding-bottom: 80px;
    background-color: cornflowerblue;
    border-radius: 15px;
    
}

.articlet:hover h1 {
    color: orange;
    cursor: pointer;
}

.figure_figure {
    border: 2px solid black;
    margin: 10px;
    display: grid;
    place-items: center;
    padding: auto;
    background-color: rosybrown;
    width: 90%;
    padding-bottom: 100px;
    padding-top: 100px;
    border-radius: 15px;
}

.figuret:hover h1{
    color: orange;
    cursor: pointer;
}

.p_p {
    border: 2px solid black;
    margin: 10px;
    display: grid;
    place-items: center;
    padding: auto;
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: lightgreen;
    width: 90%;
    border-radius: 15px;
}

.pt:hover {
    color:  orange;
    cursor: pointer;
}

.section_section {
    border: 2px solid black;
    display: grid;
    place-items: center;
    padding: 20px;
    background-color: yellow;
    margin-top: 20px;
    margin: 10px;
    border-radius: 15px;
}

.sectiont:hover h1 {
    color: orange;
    cursor: pointer;
}

.section_section2 {
    border: 2px solid black;
    display: grid;
    place-items: center;
    padding: 20px;
    background-color: lightgreen;
    margin-top: 20px;
    margin: 10px;
    border-radius: 15px;
    padding-bottom: 150px;
    padding-top: 150px;
}

.caja_caja {
    display:grid;
    grid-template-columns: auto auto auto;   
}
 .caja_caja > h1 {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    background-color: salmon;
    border-radius: 15px;
    margin: 10px;
    padding-top: 150px;
    padding-bottom: 150px;
 }
.hover1:hover{
    color: orange;
    cursor: pointer;
}
.hover2:hover{
    color: orange;
    cursor: pointer;
}
.hover3:hover{
    color: orange;
    cursor: pointer;
}

.footer_footer {
    border: 2px solid black;
    display: grid;
    place-items: center;
    padding: 20px;
    background-color: plum;
    border-radius: 15px;
    margin: 10px;
    margin-top: 20px
    
}

.footert:hover h1 {
    color: orange;
    cursor: pointer;
}

  .container > div {
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }